/* css styles */

/* h/t https://github.com/rstudio/spark.rstudio.com/blob/main/styles.css */
.navbar-brand > img {
  max-height: 80px;
}

/* --- UF BRANDING COLORS --- */

/* 1. Change text inside backticks ` ` to Orange */
code {
  color: #D13200 !important;
}

/* 2. Links are UF Blue by default */
a {
  color: #0021A5;
}

/* 3. Links turn Orange when you hover over them */
a:hover {
  color: #D13200;
}